.confirm-txt{
    font-size:  20px;
    font-weight: 500;
    color: #26264D;
    text-align: center;
    padding: 30px 24px;
}

.confirm-bt-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}