<div class="w-100">
    <h1 class="heading">How many people are working at your company?</h1>
    <div class="form-group">
       <div class="company-sizes">
           <div *ngFor="let companySize of companySizes" [ngClass]="{'selected': companySize.selected}" class="company-size" (click)="onCompanySizeSelect(companySize)">{{companySize.name}}</div>
       </div>
    </div>
    <div class="btn-group">
        <button class="login-btn">
            <span>Next</span>
            <span class="material-icons arrow-forward">arrow_forward</span>
        </button>
    </div>
    <div class="btn-group">
        <p class="forgot-txt back-btn" [routerLink]="['/login']">Back</p>
    </div>
</div>