<div class="container-fluid">
    <div class="row landing-page align-items-center d-flex">
      <div class="col-md-6 col-sm-12 px-0 bg-left d-flex flex-column align-items-center justify-content-center">
        <div class="landing-page-left">
          <img alt="logo" class="login-logo" src="../../../assets/images/logo.jpeg">
          <img alt="login" class="img-fluid" src="../../../assets/images/login-left.svg">
          <div class="desc-sec">
            <h6>Empower. Engage. Enhance</h6>
            <!-- <p>Lorem ipsum, or lipsum as it is sometimes known,</p> -->
          </div>
        </div>
      </div>  
      <div class="col-md-6 col-sm-12">        
        <div class="authentication-section {{activeComponent}}">        
            <router-outlet></router-outlet>
        </div>
      </div>  
    </div>
  </div>  
  