.company-sizes {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    .company-size {
        display: inline-block;
        border: 0.5px solid #aaaeb9;
        padding: 10px 15px;
        margin: 6px;
        border-radius: 30px;
        cursor: pointer;
        color: #37375e;
        &.selected {
            background: #D7E9FE;
            border: 0.5px solid #3B97FF;
        }
    }
}
