<div class="container-fluid" *ngIf="!hideOnBoardSection">
  <div class="row landing-page align-items-center d-flex">
    <div class="col-md-6 col-sm-12 px-0 bg-left d-flex flex-column align-items-center justify-content-center">
      <div class="landing-page-left">
        <img alt="logo" class="login-logo" src="../../../assets/images/logo.jpeg">
        <img alt="login" class="img-fluid" src="../../../assets/images/login-left.svg">
        <div class="desc-sec">
          <h6>Empower. Engage. Enhance</h6>
          <!-- <p>Lorem ipsum, or lipsum as it is sometimes known,</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="authentication-section onboard-section">        
        <app-enter-email (onSubmitEvent)="onSubmitHandler($event)" *ngIf="signUpSections['enterEmail']['show']"></app-enter-email>
        <app-email-otp-page from="onBoard" (onSubmitEvent)="onSubmitHandler($event)" *ngIf="signUpSections['emailOtp']['show']"></app-email-otp-page>
        <app-welcome-winzard (onSubmitEvent)="onSubmitHandler($event)" *ngIf="signUpSections['welcomeWinzard']['show']"></app-welcome-winzard>
        <app-about-company (onFinishEvent)="onFinishHandler()" *ngIf="signUpSections['aboutCompany']['show']"></app-about-company>       
      </div>
    </div>
  </div>
</div>
<app-create-account *ngIf="hideOnBoardSection"></app-create-account>