
.right-side-footer {
  display: flex;
  padding: 0px 24px;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -10px 25px #898d9533;
  .custom-btn{
    &:first-of-type{
      margin-right: 10px;
    }
  }
}
.q-error {
  display: flex;
  justify-content: flex-end;
}

.dev-ques-sec{
  border: 1px solid rgba(38, 38, 77, 0.12);
  padding: 4px 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  .questions-left{
    display: flex;
    flex-direction: column;
    width: 65%;
    label {
      text-align: left;
      font-size: 13px;
      margin: 0;
      letter-spacing: 0px;
      color: #26264d;
    }
    .text-input{
     margin:24px 0px 10px;
    }
  }
  .questions-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // padding-left: 36px;
    width: 312px;
    .hit-txt{
      font-size: 12px;
      font-weight: 300;
      color: #26264D;
      text-align: center;
      margin: 5px 0px 5px 50px;
    }
    .mat-radio-group{
      text-align: left;
    }
    .dropdown-input{
      margin: 24px 0px;
      height: 42px;
      mat-select{
        height: 100%;
        line-height: 28px;
      }
    }
  }
  .inner-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    
   
  }
}
.mult-fields{
  display: flex;
  width: 100%;
  .field-sec{
    margin-left: 30px;
    width: 100%;
    &:first-of-type{
      margin-left: 0px;
    }
  }
}
