<div *ngIf="showSpinner" class="spinner-border"></div>
<div *ngIf="!showSpinner" class="email-otp-page">
    <h1 class="heading">Check your email!</h1>
    <p class="sub-info">We've sent a 6-digit confirmation code to <br/> {{userEmail}}. It will expire shortly, so enter it soon.</p>
    <div class="w-100 text-center">
        <ng-otp-input  #ngOtpInput  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
        <div class="btn-group">
            <button class="login-btn" (click)="onSubmit()">
                <span>Next</span>
                <span class="material-icons arrow-forward">arrow_forward</span>
            </button>        
        </div>
        <p class="sub-info-small">Keep this window open while checking for your code. <br/> Remember to try your spam folder!</p>    
        <div class="btn-group">    
        <p *ngIf="!from" class="forgot-txt back-btn" [routerLink]="['/login']">Back</p>
        <p *ngIf="from" class="forgot-txt back-btn" (click)="onBack()">Back</p>
        </div>
    </div>
</div>
